*.sw[o-z]
*~
#*

/html
/pdf
/tor-browser-version.txt

/tor-browser-user-manual.pot
/[a-z][a-z]/*.mo
/[a-z][a-z]/*.stamp
/[a-z][a-z]/*.page
/[a-z][a-z]-[A-Z][A-Z]/*.mo
/[a-z][a-z]-[A-Z][A-Z]/*.stamp
/[a-z][a-z]-[A-Z][A-Z]/*.page
/media-symlinks.stamp

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/config.log
/config.status
/install-sh
/missing
.DS_Store
